<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="generator" content="Asciidoctor 2.0.20">
<%
subt = adoc.attributes['page-subtitle']
parts = [adoc.doctitle]
parts = [*parts, subt.nil? ? '' : " :: #{subt}"]
parts = [*parts, ' :: Dev How To!']
%>
<title><%= parts.join '' %></title>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400,700">

<link rel="stylesheet" type="text/css" href="/_static/asciidoctor.css" />
<link rel="stylesheet" type="text/css" href="/_static/pygments-pastie.css" />
<link rel="stylesheet" type="text/css" href="/_static/custom.css" />

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="article with-treeview with-outline">

<nav class="nav-top">
  <ul>
    <li>
      <a href="/">Dev How To</a>
    </li>
  </ul>
</nav>

<div class="content-wrapper">
  <section class="content-layout">
    <nav class="nav-tree">
    <%= @nav_html %>
    </nav>

    <div class="content-body">
      <main>
        <h1><%= adoc.title %></h1>
        <%= adoc.content %>
      </main>

      <nav class="nav-outline">
        <%= outline %>
      </nav>
    </div>
  </section>
</div>

<footer class="footer">
  <p>Dev How To &amp; Friends 2024</p>
</footer>

<% if adoc.attributes['stem'] %>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  messageStyle: "none",
  tex2jax: {
    inlineMath: [["\\(", "\\)"]],
    displayMath: [["\\[", "\\]"]],
    ignoreClass: "nostem|nolatexmath"
  },
  asciimath2jax: {
    delimiters: [["\\$", "\\$"]],
    ignoreClass: "nostem|noasciimath"
  },
  TeX: { equationNumbers: { autoNumber: "none" } }
})
MathJax.Hub.Register.StartupHook("AsciiMath Jax Ready", function () {
  MathJax.InputJax.AsciiMath.postfilterHooks.Add(function (data, node) {
    if ((node = data.script.parentNode) && (node = node.parentNode) && node.classList.contains("stemblock")) {
      data.math.root.display = "block"
    }
    return data
  })
})
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.9/MathJax.js?config=TeX-MML-AM_HTMLorMML"></script>
<% end %>

</body>
</html>
